* {
  font-family: "Monospace", sans-serif;
}
.App {
  height: fit-content;
  width: 100%;
}

.auth-container {
  height: 90px;
  width: 100%;
  background-color: transparent;
  margin-right: 10px;
  overflow: hidden;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.nav-items #hamburger-icon {
  display: none;
}

/* Custom style for input type range*/

input[type="range"]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: gray;
  margin-top: -6px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #a2a2a2;
}

/*Responsiveness - especially for smaller phones like iPhone 11, 10 etc */

@media screen and (max-width: 500px) {
  #appraisal-wrapper {
    display: flex !important;
    flex-direction: column !important;
  }

  #dashboard-selector {
    padding-top: 40px !important;
  }

  #dashboard-wrapper {
    display: flex !important;
    flex-direction: column !important;
  }

  .small-screen-display {
    display: flex !important;
    width: 100% !important;
    flex-direction: column !important;
  }

  .smaller-box-full {
    width: 100% !important;
  }

  #carousel-slide-recommendation-form {
    width: 70vw;
    padding: 10px 10px;
  }

  .h-one-spaced {
    margin-left: 60px !important;
  }
}
